<component name="ArtifactManager">
  <artifact type="war" name="springboot2.0-helloworld:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot2.0-helloworld-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot2.0-helloworld:war exploded" />
    </root>
  </artifact>
</component>